.map-container {
    height: 400px;
}

.sidebar {
    width: 350px;
    height: 388px;
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: hotpink;
    border-radius: 50%;
}